/* ////////////// */
/* Global Styling */
/* ////////////// */

* {
  color: white;
  text-align: center;
  background-color: #001a3d;
}

#app {
  background-color: #001a3d;
}

.page-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 5%;
}

nav {
  display: flex;
  height: 40px;
  justify-content: left;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00365f;
}

.nav-link {
  font-size: 20px;
  color: #f6e01f;
  text-decoration: none;
  background-color: #00365f;
  padding: 8px 20px;
}

.nav-link:hover {
  background-color: #fff986;
  color:black;
}

header {
  font-family: 'Permanent Marker', cursive;
  font-size: 48px;
  padding-bottom: 30px;
}

.site-title {
  font-size: 72px;
  color: #f6e01f;
  padding: 48px 0;
  background-image: url("../../data/SewingMachineColorized.png");
  background-repeat: no-repeat;
  background-size: 90% 200px;
  background-position: center;
}

.sub-heading {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff986;
  background-color: rgba(0,0,0,0);
}

@media screen and (max-width: 750px) {
  nav {
    height: 34px;
  }
  .nav-link {
    font-size:14px;
  }
  .site-title {
    background-size: 90% 220px;
  }
}

@media screen and (min-width: 900px) {
  .site-title {
    background-size: 810px 200px;
  }
}



/* /////////////// */
/* Gallery Styling */
/* /////////////// */

.image-wrapper img {
  max-width: 200px;
  max-height: 160px;
}

.image-wrapper:hover {  
  background-color: #00365f;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-top: solid 2px #00365f;
  border-left: solid 2px #00365f;
  border-radius: 5px;
  width: 210px;
  height: 210px; 
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  border-top: solid 2px #f6e01f;
  border-left: solid 2px #f6e01f;
  background-color: #00365f;
}

.photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.detail-page-photo img {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  border: #00365f solid 5px;
  border-radius: 5px;

}


/* /////////////// */
/* Order Page Styling */
/* /////////////// */

.new-order-form {
  display: flex;
  justify-content: center;
}

.new-order-form table {
  border: solid 10px #f6e01f;
  border-radius: 15px;
  padding: 10px 5px;
}

.new-order-form td {
  color: #fff986;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
  width:250px;
}

.new-order-form button {
  font-size: 20px;
  color: #fff986;
  margin: 15px 0;
  height: 60px;
  width:250px;
  border: #f6e01f solid 5px;
  background-color: #00365f;
}

.new-order-form button:hover {
  color: black;
  background-color: #fff986;
}

.order-items {
  display: flex;
  justify-content: center;
}

.order-items th, td {
  height: 30px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid white 1px;
}

.order-items table {
  width: 90%;
  border-collapse: collapse;
}

.order-items tbody  {
  background-color: #00365f;
}

.complete-all-fields {
  margin: 20px 0;
  border: #f6e01f solid 5px;
  padding: 15px 0;
  font-size: 24px;
  background-color: #d10f0f;
  color:#f6e01f
}

/* /////////////// */
/* Home Page Styling */
/* /////////////// */

.home-page-wrapper img {
  max-width: 300px;
  max-height: 500px;
}

.home-page-wrapper {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 2fr 2fr 3fr 3fr 3fr 1fr 2fr;
  margin: 0 5%;
}

.row-two, .row-five, .row-seven {
  display:flex;
  align-items: center;
}

.first-text-block, .second-text-block, .third-text-block, .fourth-text-block, .contact-text {
  text-align: justify;
  display: flex;
  align-items: center;
  color: #c0c0c0;
  font-size: 20px;
  padding: 0 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.services-list {
  display: flex;
  padding: 0;
  list-style: none;
  color: #fff986;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.services-list li {
  border: solid #c0c0c0 1px;
  display: flex;
  color: #c0c0c0;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  background-color: #404040;
  width: 25%;
}

.home-page-header, .row-five {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  padding: 0;
  color: #404040;
  margin: 20px 0;
}

.row-five {
  justify-content: space-around;
}

.contact-link-container, .contact-text {
  margin-top: 40px;
}

.contact-link-container {
  margin-bottom: 40px;
}

.contact-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f6e01f;
  text-decoration: none;
  background-color: #00365f;
  padding: 8px 20px;
  border:#f6e01f solid 5px;
  border-radius: 5px;
}

.contact-link:hover {
  background-color: #fff986;
  color:black;
}

@media screen and (max-width: 750px) {
  .home-page-wrapper img {
    max-width: 150px;
    max-height: 300px;
  }
  .home-page-wrapper {
    display: grid;
    grid-template-rows: 0.5fr 1.5fr 0.5fr 1.5fr 1fr 1fr 1.5fr 1.5fr 0.5fr 0.5fr 1fr;
    margin: 0 5%;
  }
  
  .services-list li {
    font-size: 14px;
  }

  .first-text-block, .second-text-block, .third-text-block, .fourth-text-block, .contact-text {
    font-size: 14px;
    padding: 0 20px;
  }

  header {
    font-size: 24px;
    padding-bottom: 15px;
  }

  .home-page-header, .row-five {
    padding: 0;
    margin: 10px 0;
  }

}


/* /////////////// */
/* Login Page Styling */
/* /////////////// */

.logout-button {
  margin-top: 30px;
}

.login-button {
  font-size: 20px;
  color: #fff986;
  margin: 15px 0;
  height: 60px;
  width:250px;
  border: #f6e01f solid 5px;
  background-color: #00365f;
}

.login-button:hover {
  background-color: #fff986;
  color:black;
}

.about-text-wrapper {
  text-align: center;
  margin: 20px 10%;
}

.about-page-wrapper {
  margin: 0 5%;
}

.login-field {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  font-size: 30px;
}

.login-label {
  margin-top: 20px;
}

/* 
CONTACT PAGE STYLING 
*/

iframe {
  width: 90%;
  height: 850px;
  background-color: #c0c0c0;
  margin-top: 20px;
}

.icon {
  height: 80px;
  width: 80px;
  margin-top: 20px;
}

.contact-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-row {
  display: flex;
  align-items: center;
}
.handle {
  margin: 0 25px;
  font-size: 30px;
}

.contact-intro {
  text-align: justify;
  display: flex;
  align-items: center;
  color: #c0c0c0;
  font-size: 20px;
  padding: 0 20px;
  margin: 25px 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media screen and (max-width: 750px) {
  .contact-intro {
    font-size: 14px;
    padding: 0 20px;
  }

  .icon {
    height: 50px;
    width: 50px;
  }

  .handle {
    font-size: 20px;
  }
}